:root {
    --light-color: #ffffff;
    --medium-color: #6b6e70;
    --dark-color: #222629;
    --color1: #86c232;
    --color2: #61892f;
    --color3: #f0f0f0;
    --title-font: monospace;
    --head-font: monospace;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body styles */
body {
    font-family: var(--body-font);
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; }

/* Headings */
h1 {
    font-family: var(--head-font);
    color: var(--light-color);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Header */
.header {
    font-family: var(--head-font);
    background: var(--dark-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 10px;
}

/* Footer */
footer {
    font-family: var(--head-font);
    color: var(--color1);
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Title */
.title {
    font-family: var(--title-font);
    color: var(--color1);
    font-size: 2em;
    font-weight: bold;
}

/* Navigation */
.navs {
    gap: 1rem;
}

.nav {
    font-family: var(--head-font);
    color: var(--color2);
}

.nav:hover {
    color: var(--color1);
}

/* Hero Section */
.hero {
    color: var(--medium-color);
    padding: 1rem 2rem;
    margin-top: 60px;
    text-align: center;
}

/* Simulation Section */
.simulation {
    display: grid;
    row-gap: 20px;
}

#simulation-canvas {
    background: var(--light-color);
    margin: 1rem;
    border-radius: 0.5rem;
    z-index: 80;
}

/* Simulation Input */
.simulation-input {
    margin: 0 2rem;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Simulation Output */
.simulation-output {
    padding: 1rem;
    background: var(--light-color);
    color: var(--dark-color);
    margin: 1rem;
    border-radius: 0.5rem;
}

.simulation-output h1 {
    color: var(--color2);
}

/* Parameter Slider */
.parameter-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--light-color);
    outline: none;
    margin: 10px 0;
}

/* Slider Thumb */
.parameter-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color1);
    cursor: pointer;
}

#pisang-goreng {
    width: 8rem;
    text-align: center;
    color: var(--medium-color);
}